
# Vim droppings
*.swp

#
# Knock it off, OS/X!
#
.DS_Store

#
# Don't check in our Splunk data
#
splunk-data/

#
# Don't check in Redis data
#
redis-data/

#
# Don't check in our AWS credentials
#
aws-credentials.txt

#
# Don't check in our production docker-compose.yml file
#
docker-compose.yml


