   
body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.btn-primary a {
	color: white;
	text-decoration: underline;
}

.download-link {
	font-size: smaller;
}


.alert {
  position: relative;
}


/**
* Don't display our width alert unless we're in a narrow window.
*/
.width-alert {
	display: none;
}

/**
* Waste less horizontal space above the h1 tag.
*/
h1 {
	margin-top: 0px;
}

/**
* If on mobile, add some extra padding as the cells will be stacked.
*/
@media (max-width: 768px) {
	.current-cell {
		padding-bottom: 10px;
	}
}


#indexBackground {
	height: 350px;
}

#frontPageStats .current-top {
	font-size: 20px;
	height: 50px;
}

@media (max-width: 768px) {
	#frontPageStats .current-top {
		font-size: 16px;
		height: 40px;
	}
}

#frontPageStats .current-body {
	font-size: 48px;
	font-weight: 600;
}

.current-body {
	font-size: 40px;
	font-weight: 600;
}

.current-body-warn {
	color: red;
}

.current-source, .current-dest {
	font-size: 20px;
	font-weight: 600;
}

.current-update-time {
	font-size: 20px;
	font-weight: 600;
}


